{{#each bicycles as |bicycle|}}

<div class="bicycles" data-id="{{bicycle.id}}">
  <div class="row">
  <div class="show-left col-xs-1">
    <div style="background-image: url({{bicycle.url}})"class="bike-img-wrap">
    <!-- <img class="bike-img" src={{bicycle.url}}> -->

    {{#if bicycle.stolen}}
      <img class="bike-img" src="https://c1.staticflickr.com/5/4685/27234659029_91d9153a46_o.png">
      <!-- <h4 class='stolen-label'>STOLEN</h4> -->
    {{/if}}
    </div>
  </div>
  <div class="show-right col-xs-8">
    <p class="text-left"><span class="attr">{{bicycle.make}}</span> {{bicycle.model}}</p>
    <p class="text-left">{{bicycle.color}}</p>
    <p class="text-left"><span class="attr">Serial: </span>{{bicycle.serial_number}}</p>
    <p class="text-left"><span class="attr">Size:</span> {{bicycle.size}}</p>
  </div>

</div>

<div class="row bike-btns">
  <div class="col-xs-12 text-center">
    {{#if bicycle.editable}}
      <button class="bike-btn bike-nav show-update-form">Update</button>
      <span>- </span>
      <button class="bike-btn bike-nav remove">Remove</button>
      <span>- </span>
        {{#if bicycle.stolen}}
          <button class="bike-btn bike-nav recover">Bike was recovered</button>
        {{else}}
          <button class="bike-btn bike-nav register-stolen">Bike was stolen</button>
        {{/if}}
        {{else}}
    {{/if}}
  </div>
</div>


</div>

{{/each}}
