{{#each bicycles as |bicycle|}}

<div class="bicycles" data-id="{{bicycle.id}}">
  <div class="inner">
    <ul>
      <li>Make: {{bicycle.make}}</li>
      <li>Model: {{bicycle.model}}</li>
      <li>color: {{bicycle.color}}</li>
      <li>serial number: {{bicycle.serial_number}}</li>
      <li>size: {{bicycle.size}}</li>
    </ul>
  </div>

{{#if bicycle.editable}}
  <div class="inner">
    <button class="show-update-form">Update</button>
    <button class="remove">Remove</button>
  </div>
{{/if}}

</div>

{{/each}}
