{{#each bicycles as |bicycle|}}

<div class="bicycles row" data-id="{{bicycle.id}}">
  <div class="show-left col-xs-4">
    <div class="bike-img-wrap">
    <img class="bike-img" src={{bicycle.url}}>
    </div>
    {{#if bicycle.stolen}}
      <h4 class='stolen-label'>STOLEN</h4>
    {{/if}}
  </div>
  <div class="show-right col-xs-5">
      <p><span class="attribute">Make:</span> {{bicycle.make}}</p>
      <p><span class="attribute">Model:</span> {{bicycle.model}}</p>
      <p><span class="attribute">Color:</span> {{bicycle.color}}</p>
      <p><span class="attribute">Serial Number:</span> {{bicycle.serial_number}}</p>
      <p><span class="attribute">Size:</span> {{bicycle.size}}</p>
  </div>


  <div class="col-xs-3 status">
    {{#if bicycle.editable}}
      <button class="show-update-form">Update</button>
      <button class="remove">Remove</button>
        {{#if bicycle.stolen}}
          <button class="recover">Bike was recovered</button>
        {{else}}
          <button class="register-stolen">Bike was stolen</button>
        {{/if}}
        {{else}}
        <button class="found">I found this bike</button>
    {{/if}}
  </div>


</div>

{{/each}}
