{{#each this}}

<div class="bicycles row" data-id="{{this.id}}">
  <div class="row">
  <div class="show-left col-xs-1">
    <div style="background-image: url({{this.url}})"class="bike-img-wrap">
    <!-- <img class="bike-img" src={{this.url}}> -->


  {{#if this.stolen}}
  <img class="bike-img" src="https://c1.staticflickr.com/5/4685/27234659029_91d9153a46_o.png">
    <!-- <h4 class='stolen-label'>STOLEN</h4> -->
  {{/if}}
  </div>
  </div>
  <div class="show-right col-xs-8">
    <p class="text-left"><span class="attr">{{this.make}}</span> {{this.model}}</p>
    <p class="text-left">{{this.color}}</p>
    <p class="text-left"><span class="attr">Serial: </span>{{this.serial_number}}</p>
    <p class="text-left"><span class="attr">Size:</span> {{this.size}}</p>
  </div>

</div>

  <div class="row bike-btns">
    <div class="col-xs-12 text-center">
      {{#if this.editable}}
        <button class="bike-btn bike-nav show-update-form">Update</button>
        <button class="bike-btn bike-nav remove">Remove</button>
          {{#if this.stolen}}
            <button class="bike-btn bike-nav recover">Bike was recovered</button>
          {{else}}
            <button class="bike-btn bike-nav register-stolen">Bike was stolen</button>
          {{/if}}
          {{else}}
      {{/if}}
    </div>
  </div>

  </div>

  {{/each}}
